<!-- Header -->
<div id="header-wrapper">
        <div id="header">

            <!-- Logo -->
                <h1><a href="index.html">{{site.title}}</a></h1>

            <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="current"><a href="about.html">About</a></li>
                        <li>
                            <a href="#">Musings</a>
                            <ul>
                                <li><a href="#">Eats</a></li>
                                <li><a href="#">Ferments</a></li>
                                <li><a href="#">Fitness</a></li>
                                <li><a href="#">Gardening</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>